.intro {
  font-style: italic;
  max-width: 200 px;
  font-weight: bolder;
  text-decoration: wavy;
  background-color: rgba(57, 34, 43, 0.208);
}

.dark-theme img{
  max-height: 90px;  
}

.dark-theme h1{
  color: rgb(226, 230, 237);
  text-align: center;
  text-transform: capitalize;
}

.dark-theme h2 {
  color: rgb(210, 210, 210);
  text-align: center;
}

.dark-theme p {
  color: antiquewhite;
  font-family: sans-serif;
  text-align: left;
}

.dark-theme body {
  background-color: rgb(23, 23, 23);
}