.intro {
  font-style: italic;
}

h1{
  color: rgb(226, 230, 237);
}

h2 {
  color: rgb(226, 230, 237);
  text-align: justify;
}

p {
  color: antiquewhite;
  font-family: sans-serif;
  text-align: left;
}

body {
  background-color: rgb(23, 23, 23);
}