.intro {
  font-style: italic;
  max-height: 90px;
  max-width: 200 px;
}

h1{
  color: rgb(226, 230, 237);
  text-align: center;
  text-transform: capitalize;
}

h2 {
  color: rgb(210, 210, 210);
  text-align: center;
}

p {
  color: antiquewhite;
  font-family: sans-serif;
  text-align: left;
  max-width: 400 px;
}

body {
  background-color: rgb(23, 23, 23);
}